/***************************
****PATRON DE COLORES*******
***************************/
$texto: #111111;
$principal:#12AFAF;
$secundario:#009500;

html{
    font-size: 15px;
}
body{
    color: $texto;
}

/***************************
****SECCION BIENVENIDOS*****
***************************/

.bienvenidos{
    background: linear-gradient(rgba(0, 0, 0,.5), rgba(0,0,0,.5)), url('../images/fondo-enacezado.jpg') no-repeat center top;
    color: #fff;
    background-size: cover;
    background-attachment: fixed !important;
    height: 100vh;
    display: flex;
    flex-direction: column;

    .fondo-menu{
        background: #064E4E !important;
        padding: 1rem 0 !important;
    }

    .encabezado{
        background: $texto;
        color: #fff;
        padding: .5rem 0;
        transition: all .5s ease;

        .container{
            display: flex;
            align-items: center;
            flex-wrap: wrap;
        }

        .logo{
            img{
                width: 150px;
                height: auto;
            }
        }

        /*Estilos para boton buscar y menu del header*/
        .boton-buscar, .boton-menu{
            border: 0;
            font-size: 2rem;
            margin: 0;
            padding: 0 .5rem;
            background: transparent;
            color: #fff;
        }

        .boton-buscar:focus, .boton-menu:focus{
            outline: 0;
        }

        .boton-buscar{
            margin-left: auto;
            margin-right: .8rem;
        }

        /*Estilos para bloque buscar*/
        #bloque-buscar{
            flex: 1 1 100%;

            .contenedor-bloque-buscar{
                display: flex;
                height: 3rem;
                margin: 1rem 0;

                input[type="text"]{
                    border: 0;
                    border-radius: 5px 0 0 5px;
                    padding: 1rem;
                    flex: 1 1 auto;
                }

                input[type="submit"]{
                    flex: 0 1 auto;
                    border: 0;
                    border-radius: 0 5px 5px 0;
                    background: $principal;
                    color: #fff;
                    padding: 0 1rem;
                }
            }
        }

        #menu-principal{
            flex: 1 1 100%;

            ul{
                padding: 0;
                list-style: none;
                margin: 1rem 0 0 0;

                a{
                    display: block;
                    padding: .8rem 0;
                    text-align: center;
                    color: #fff;
                    text-transform: uppercase;
                    border-top: 1px solid #8c8888;
                    text-decoration: none;
                    font-size: 1.4rem;
                }

                a:hover, li.active a{
                    color: $principal;
                }
            }
        }
    }

    .texto-encabezado{
        display: flex;
        flex: 1 1 auto;
        align-items: center;

        .display-4{
            margin-top: 4rem;
        }

        .btn-primary {
            color: #fff;
            background-color: $principal;
            border-color: transparent;
            transition: all .5s ease;
        }

        .btn-primary:hover, .btn-primary:focus, .btn-primary:active:hover{
            background-color: $secundario;
            border-color: transparent;
        }
    }

    .flecha-bajar{
        a{
            display: inline-block;
            color: #fff;
            font-size: 2.5rem;
            animation: flecha-animada 1.5s ease-in-out infinite;
        }
    }
}

/***************************
******SECCION AGENCIA*******
***************************/

.agencia{
    background: $principal;
    color: #fff;

    img{
        width: 80%;
        margin: 0 auto;
        display: block;
    }
}

/***************************
*******MEJOR ELECCION*******
***************************/

.tu-mejor-eleccion{
    h2{
        span{
            color: $principal;
        }
    }

    ul{
        li{
            list-style: none;
            min-height: 9rem;
        }

        i{
            font-size: 2.3rem;
            background: $secundario;
            border-radius: 50%;
            width: 4.7rem;
            height: 4.7rem;
            line-height: 4.7rem;
            color: #fff;
        }
    }
}

/***************************
*******MEJOR ELECCION*******
***************************/

.servicios{
    background: linear-gradient(rgba(0, 0, 0,.5), rgba(0,0,0,.5)), url('../images/servicios.jpg') no-repeat center center;
    background-size: cover;
    background-attachment: fixed !important;
    color: #fff;

    article{
        display: flex;
        align-items: center;
        margin: 1rem 0;
        
        h3{
            margin: 0;
            font-size: 1.1rem;
            flex: 1 1 auto;
            
            a{
                color: #fff;
                display: flex;
                justify-content: space-between;
                align-items: center;
                text-decoration: none;
            }

            a::after{
                content: "\f105";
                font-family: "Font Awesome 5 Free";
                font-weight: 900;
                font-size: 2rem;
                margin-left: 1rem;
                opacity: .5;
                position: relative;
                left: 0;
                transition: all .5s ease;
            }
            a:hover::after{
                opacity: 1;
                color: $principal;
                left: -.5rem;
            }
        }

        img{
            flex: 0 0 60px;
            overflow: hidden;
            margin-right: 1rem;
        }
    }
}

/***************************
*****ULTIMOS PROYECTOS******
***************************/

.ultimos-proyectos{
    .container{
        padding-left: 0;
        padding-right: 0;

        a{
            text-decoration: none;
    
            h4{
                font-size: 1rem;
                font-weight: bold;
                text-align: center;
                color: $texto;
            }
        }

        .owl-nav{
            display: flex;
            justify-content: center;
            margin: 1rem 0;

            .owl-prev, .owl-next{
                font-size: 3rem;
                margin: 0 .5rem;
                color: $principal;
                transition: all .5s ease;
            }
    
            .owl-prev:hover, .owl-next:hover{
                color: $secundario;
            }

            .owl-prev:hover, .owl-next:hover,.owl-prev:focus, .owl-next:focus{
                outline: 0;
            }
        }
    }
    
}

/***************************
***********FOOTER***********
***************************/

.piedepagina{
    background: $texto;
    color: #fff;
    text-align: center;
    font-size: .9rem;

    /*tooltip redes sociales*/
    .redes-sociales{
        a {
            background: transparent;
            color: $principal;
            border-radius: 100%;
            display: inline-block;
            text-decoration: none;
            position: relative;
            width: 40px;
            height: 28px;
            margin: 0 2px;
            transition: all .5s ease;

            i{
                font-size: 1.7rem;
            }

            span {
                background: #fff;
                color: #222;
                font-size: 14px;
                font-weight: bold;
                border-radius: 5px;
                position:  absolute;
                bottom: 0;
                left: -25px;
                right: -25px;
                padding: 3px 2px;
                visibility: hidden;
                opacity: 0;
                transition: all .5s ease;
            }
            
            span::before {
                content: '';
            /*   width: 0;
                height: 0; */
                border-left: 5px solid transparent;
                border-right: 5px solid transparent;
                border-top: 5px solid #fff;
                position: absolute;
                bottom: -5px;
                left: 40px;
            }            
        }

        a:hover span {
            bottom: 40px;
            visibility: visible;
            opacity: 1;
        }
        
        .facebook:hover {
            color: #4183d7; 
        }
        
        .facebook span {
            color: #4183d7;
        }
        
        .twitter:hover {
            color: #19b5fe;
        }
        
        .twitter span {
            color: #19b5fe;
        }
        
        .github:hover {
            color: #000;
        }
        
        .github span {
            color: #000;
        }
        
        .dribble:hover {
            color: #f62459;
        }
        
        .dribble span {
            color: #f62459;
        }
        
        .pinterest:hover {
            color: #f22613;
            
        }
        
        .pinterest span {
            color: #f22613;
        }
    }
}

.ir-arriba{
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    font-size: 3rem;
    color: $principal;
    text-decoration: none;
    line-height: 0;
    z-index: 10;
    display: none;
    transition: all .5s ease;
}

.ir-arriba:hover,.ir-arriba:focus{
    outline: 0;
    text-decoration: none;
    color: #fff;
}


/***************************
********ANIMACIONES*********
***************************/

@keyframes flecha-animada{
    from{
        transform: translateY(0);
    }
    50%{
        transform: translateY(6px);
    }
    to{
        transform: translateY(0);
    }
}

/***************************
******MEDIA QUERIES*********
***************************/
@media (min-width:768px){
    #menu-principal{
        height: auto !important;
        display: block;
        flex: 0 1 auto !important;
        margin-left: auto !important;
        order: 1;

        ul{
            display: flex;
            margin: 0 0 0 0 !important;

            li a{
                padding: .8rem;
                text-transform: capitalize !important;
                margin: 0 .5rem;
                border-top: 0px !important;
                border-bottom: 4px solid transparent;
                transition: all .5s ease;
            }

            li.active a, li a:hover{
                color: $principal;
                border-bottom: 4px solid;
            }
        }
    }

    .boton-buscar{
        margin-left: 1rem !important;
        margin-right: 0 !important;
        order: 2;
    }

    #bloque-buscar{
        order: 3;
        position: absolute;
        width: 20rem;
        right: 4rem;
        top: 2.8rem;
        transition: all .5s ease;
    }

    /*Seccion Servicios*/
    .servicios{
        article{
            margin: 1rem 0;
            flex-direction: column;
            align-items: center;
            text-align: center;

            h3{
                margin: 0 0 .5rem 0 ;
                font-size: 1.5rem;
                flex: 0 1 auto ;

                a{
                    display: block;
                    width: 100%;
                }

                a::after{
                    content: "";
                }
            }

            p{
                width: 100%;
            }

            .btn-secondary {
                margin-top: auto ;
                color: #fff;
                background-color: $principal;
                border-color: transparent;
                transition: all .5s ease;
            }
    
            .btn-secondary:hover, .btn-secondary:focus, .btn-secondary:active:hover{
                background-color: $secundario;
                border-color: transparent;
            }

            img{
                flex: 0 0 160px !important;
                overflow: hidden;
                margin-right: 0 !important;
                margin-bottom: 1rem !important;
                transition: all 1s ease-in !important;
            }
        }

        article:hover{
            img{
                transform: rotateY(360deg);
                transform-style: preserve-3d;
            }
        }
    }
}

@media (min-width:992px){
    html{
        font-size: 16px !important;
    }

    .tu-mejor-eleccion{
        ul{
            li{
                display: flex;
                min-height: 7rem;

                i{
                    text-align: center;
                    flex: 0 1 auto;
                    margin-right: 1rem;
                    transition: all 1s ease;
                }

                .contenedor-eleccion{
                    flex: 1 0 0px;

                    h4{
                        margin-top: 0;
                        font-size: 1rem;
                    }

                    p{
                        font-size: .8rem;
                    }
                }

                &:hover{
                    i{
                        transform: rotateY(360deg);
                        transform-style: preserve-3d;
                        background: $principal;
                    }
                    
                }
            }

            &:first-child{
                i{
                    order: 1;
                    margin-left: 1rem;
                    margin-right: 0;
                }
            }
        }
    }
}

/***************************
*****SECCION NOSOTROS*******
***************************/

.paginas-internas{
    .bienvenidos{
        height: 50vh;
    }

    .ruta{
        background: $principal;
        color: #fff;

        a{
            color: #fff;
            text-decoration: underline;

            &:hover{
                text-decoration: none;
            }
        }
    }

    main{
        article{
            .accordion{
                .card{
                    border: 0;
                    margin-bottom: .4rem;
                }
                .card-header{
                    background: $principal;
                    padding: 0 0;
                    margin-bottom: 0;
                    border-radius: 10px;
                    border-bottom: 0;
                    transition: all .7s ease;

                    &:hover{
                        background: $secundario;
                    }
                }
                button{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    text-decoration: none;
                    color: #fff;
                    font-size: 1.2rem;

                    &:focus, &:active{
                        outline: 0 ;
                        box-shadow: none;
                    }
                }
            }
        }
    }
}

/***************************
*****SECCION SERVICIOS******
***************************/

.paginas-internas{
    .lista-servicios{
        background: $secundario;

        .col-md-4{
            display: flex;
        }

        .item-servicios{
            background: #fff;
            text-align: center;
            border: 5px solid #055505;
            border-radius: 5px;
            margin-bottom: 1rem;
            padding: 1rem;
            display: flex;
            flex-direction: column;

            i{
                font-size: 6rem;
                color: $principal;
                margin-bottom: 1rem;
                transition: all .5s ease;
            }

            a {
                color: #fff;
                background-color: $principal;
                border-color: transparent;
                transition: all .7s ease;
                margin-top: auto;
            }
    
            a:hover, a:focus, a:active:hover{
                background-color: $secundario;
                border-color: transparent;
            }

            &:hover{
                i{
                    transform: rotateY(360deg);
                    transform-style: preserve-3d;
                }
            }
        }

        
    }

    
}

/***************************
******SECCION CONTACTO******
***************************/

.paginas-internas{
    button {
        color: #fff;
        background-color: $principal;
        border-color: transparent;
        transition: all .7s ease;
    }

    button:hover, button:focus, button:active:hover{
        background-color: $secundario;
        border-color: transparent;
    }
}

